<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cassowary.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>simplex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>simplex_kit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B6659EE2CDBAA9D00945A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6659F52CDBAA9E00945A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD5E7392D19D8360028B444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD5E7402D19D8370028B444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF273C2CCBB6B900DF6B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF27572CD353F400DF6B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFF27682CD3F1FA00DF6B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
